.streams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px
}

.stream {
    display: block;
    text-decoration: none;
    color: #ccc;
    background-color: #202020;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        color: #fff;
    }

    &__thumbnail {
        position: relative;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__duration {
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 1;
        background-color: #202020;
        padding: 10px;
        font-size: .8rem;
    }

    &__content {
        padding: 1rem;
    }

    &__title {
        font-size: 1rem;
    }

    &__date {
        opacity: .8;
    }
}