@import 'var/var';
@import 'vendors';
@import 'base';
@import 'components/components';

.scene {
    &__sky {
        height: 300px;
        background-color: #E994EE;
    }

    &__land {
        height: 500px;
        background-color: #5C0258;
    }

    &__dropdown {
        height: 500px;
        background-color: #260F3B;
    }
}

.grid {
    $self: &;

    position: relative;
    width: 100%;
    height: 100%;
    perspective: 320px;
    overflow: hidden;

    &__hrs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__vrs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__hr {
        height: 1px;
        background-color: gray;
    }

    &__vr {
        width: 1px;
        height: 100%;
        background-color: white;
    }

    &--land {
        #{ $self }__vrs {
            width: 500%;
            left: -200%;
            top: -300%;
            transform-origin: bottom center;
            transition: .2s;
            transform: rotateX(40deg);
        }
    }

    &--dropdown {
        #{ $self }__vrs {
            width: 500%;
            left: -200%;
            top: -300%;
        }
    }
}
